/* pi controller css */

html, body {
  background-color: #333333;
  height: 100%;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  color: #ffffff;
}

/* bootstrap overrides */
