/* pi controller css */

html, body {
  background-color: #333333;
  font-family: Arial, sans-serif;
  height: 100%;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
  font-family: Arial;
}

a:hover {
  opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

/* bootstrap overrides */

/* custom classes */

.fw-220 {
  width: 220px;
}